#page-wrapper > div > div > div > div.col-xs-3 > ul{
	border-top: 4px solid #E51859;
}

/*CATEGORY HEADER*/
#page-wrapper > div > div > div > div.col-xs-3{
	text-transform: uppercase;
	font-family: open sans;
	color: #676767;
	font-size: 22px;

}

/*CATEGORY LIST*/
#page-wrapper > div > div > div > div.col-xs-3 > ul > li{
	list-style-type: none;
	font-size: 17px;
	border: 1px solid #B3B3B3;
	padding: 8px;
}

/*CATEGORY LIST WORDS*/
#page-wrapper > div > div > div > div.col-xs-3 > ul > li > a{
	color: #B3B3B3;
	margin-left: 15px;
}

#posts > div.col-xs-8 > p{
	font-size: 14px;
	margin-top: 30px !important;
}
